#profile

  .right.column
    %dl 
      %dt Name:
      %dd= @user.name
      %dt Email:
      %dd= @user.email

  %p You have completed the following lessons

  %ul 
    - @user.lessons.each do |lesson|
      %li= link_to "Lesson " << lesson.number.to_s, lesson_path(lesson.id), "data-no-turbolink" => true  

  %p= link_to "Return to list of lessons", lessons_path  
  