%h1 Results  

%p
  - if flash[:notice]
    = flash[:notice]    

%p
  - if @result[:stdout] == nil
    We could not run your code, and we received the following error:
    = @result[:stderr]
    %p
  - else
    Your code returned this on standard output:
    %p
    %h4= @result[:stdout][0]
    %p
    - if @result[:testspassed][0]
      The code passed the test.
    - else
      The code did not pass the test

%p= link_to "Return to list of lessons", lessons_path
