// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
    font-size: 15px;
}

#editor {
    /* margin: 0; */
    position: relative;
    /* top: 0; */
    /*bottom: 30%;*/
    /* top: 10%; */ 
    left: 0;
    right: 0; 
    bottom: 0;
    height: 600px;
}

#lesson {
    float: left;
    width: 40%;
    padding: 5px; 
}

#submit_button {
    /* float: left; */
    /* margin-top: 510px; */
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

