// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile
{ 

	border: {
    	width: 1px;
    	color: #ccc;
    	style: solid;
 	 
		position: absolute;
		left: 100 px;
		top: 10 px;
	}

}

#avatar
{
	float: left;
	padding: 10 px;
	top: 20px;
	width: 30%;

}

#info
{
	float: right;
	padding 10px;

}