// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile
{
	position: absolute;
	left: 100 px;
	top: 170 px;

}

#avatar{
	
	
}